@use 'modal-style';
@use 'default-size';

nz-layout {
  height: 100%;
  background-color: inherit;
  padding: 0px 20px 30px;

  nz-header {
    padding: 0;
    background-color: inherit;

    nz-select,
    .input-group {
      width: 220px;
      margin-right: 4px;
    }

    .ant-picker-range {
      width: 240px;
      margin-right: 4px;
    }

    .btn-filter {
      font-size: 13px;
      top: -0.05rem;
      height: 1.975rem;
    }

    .operation-container {
      text-align: right;
    }

    .ant-form {
      height: 64px;
      display: flex;
      align-items: center;
    }

    nz-form-item {
      margin: 0;
    }
  }

  nz-content {
    height: 100%;
    background-color: inherit;
  }

  nz-table {
    .col-header {
      font-weight: bold;
      font-size: 13px;
      color: rgba(0, 0, 0, 0.45);
    }

    .action-row {
      .action-text {
        font-size: small;
      }

      text-align: right;

      .action-button {
        color: rgba(0, 0, 0, 0.45);
        font-size: 13px;

        &:hover {
          color: #68caf8;
        }
      }
    }

    height: 100%;
    overflow-y: auto;

    th {
      position: sticky;
      top: 0;
      z-index: 999;
    }

    .col-numeric {
      text-align: right;
    }
  }
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 220px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 106px;
}

.search-button {
  margin-right: 8px;
}

::ng-deep .ant-dropdown-menu {
  .menu-item {
    width: 160px;
    font-size: 13px;
    padding-right: 24px;

    &:hover {
      background-color: #e6f7ff;
    }
  }
}

::ng-deep .nz-disable-td {
  padding: 0 !important;
  border: none !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//::ng-deep .vertical-top-modal {
//  position: absolute;
//  top: 48px;
//}
//
//::ng-deep .vertical-top-modal .ant-modal {
//  top: 0;
//}
