.col-rowno {
  width: 35px;
}
.col-ref {
  width: 120px;
}
.col-dec {
  width: 150px;
}
.col-amt{
  width: 150px;
}
.col-qty{
  width: 100px;
}
.col-date {
  width: 150px;
}
.col-action{
  width: 36px;
}
